####################################
# STM32CubeIDE / Eclipse
####################################
.metadata/
.settings/
*.launch
*.log
*.bak
*.tmp
*.swp

####################################
# Build-Ausgaben
####################################
Debug/
Release/
build/
Build/

####################################
# Toolchain / Generierte Dateien
####################################
*.o
*.d
*.su
*.lst
*.map
*.elf
*.hex
*.bin

####################################
# CubeMX temporär
####################################
.mxproject
*.ioc~ 